<template name="Home">


   <!-- <core-scaffold id="core_scaffold">
        <core-header-panel mode="seamed" id="core_header_panel" navigation flex>
            <core-toolbar id="core_toolbar">
            </core-toolbar>
            <core-menu valueattr="label" id="core_menu" theme="core-light-theme">
                <core-item id="core_item" icon="settings" label="Item1" horizontal center layout active></core-item>
                <core-item id="core_item1" icon="settings" label="Item2" horizontal center layout></core-item>
            </core-menu>
        </core-header-panel>
        <div id="div" tool>Test polymer
        </div>
        <core-pages selected="0" selectedindex="0" notap id="core_pages">
            <section id="section" active>

                {{#each restaurants}}
                    <div class="col-lg-4">
                        <h4>{{date}}</h4>
                        <p>{{realise}}</p>
                    </div>
                {{/each}}

            </section>
            <section id="section1">Page Two</section>
        </core-pages>
    </core-scaffold>-->


    <sampler-scaffold label="Graph Polymer d3js">
        <core-item label="test1" url="page1" ></core-item>
        <core-item label="test2" url="page2" ></core-item>
    </sampler-scaffold>

</template>